.classes-holder{
    height: 940px;
    width: 1295px;
    position: absolute;
    top: 117px;
    left: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classes{
    height: 95px;
    width: 1295px;
    background-color: #619354;
    border-radius: 35px;
    font-size: 40px;
    margin-bottom: 20px;
}

.classes-info{
    height: 85px;
    width: 1295px;
    display: grid;
    grid-template-columns: 700px 515px 70px;
    align-items: center;
}

.classes-info-name{
    border: none;
    background: none;
    height: 85px;
    margin: 0px;
    margin-left: 30px;
    width: fit-content;
    text-align: end;
    vertical-align: baseline;
    font-size: 45px;
    font-weight: bold;
}

.classes-info-number{
    border: none;
    background: none;
    height: 85px;
    margin: 0px;
    width: fit-content;
    vertical-align: middle;
    font-size: 35px;
}

.edit{
    border: none;
    background: none;
    background-image: url('./resources/img/edit.png');
    height: 45px;
    width: 45px;
    background-size: cover;
}

.add-classes{
    height: 95px;
    width: 1200px;
    background-color: beige;
    border-radius: 35px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.716);
}

.change-class-name{
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.check{
    border: none;
    background: none;
    background-image: url('./resources/img/check.png');
    height: 45px;
    width: 45px;
    background-size: cover;
}