.component-holder{
    height: 910px;
    width: 1295px;
    position: absolute;
    top: 117px;
    left: 520px;
}

.classes-holder{
    height: 880px;
    width: 1295px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 170px 170px 170px;
}

.classes{
    height: 150px;
    width: 610px;
    background-color: beige;
    border-radius: 35px;
    font-size: 40px;
    margin-bottom: 20px;
}

.classes-info-name{
    border: none;
    background: none;
    padding: 0px;
    padding-top: 25px;
    height: 55px;
    margin: 0px;
    width: 500px;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}

.line{
    height: 1px;
    width: 595px;
    background-color: black;
}

.classes-info-number{
    border: none;
    background: none;
    height: 25px;
    margin: 0px;
    width: 500px;
    font-size: 25px;
    text-align: left;
}

.edit{
    border: none;
    background: none;
    background-image: url('./resources/img/edit.png');
    height: 45px;
    width: 45px;
    margin-left: 20px;
    background-size: cover;
}

.add-classes{
    height: 95px;
    width: 600px;
    background-color: #86bc79;
    border-radius: 35px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.716);
}

.change-class-name{
    border: none;
    padding: 0px;
    padding-top: 25px;
    height: 35px;
    margin: 0px;
    width: 500px;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}

.check{
    border: none;
    background: none;
    background-image: url('./resources/img/check.png');
    height: 45px;
    width: 45px;
    margin-left: 20px;
    background-size: cover;
}

.trash{
    border: none;
    background: none;
    background-image: url('./resources/img/trash.png');
    height: 25px;
    width: 25px;
    background-size: cover;
}

.trash-not{
    border: none;
    background: none;
    height: 25px;
    width: 25px;
}

.bottom-holder{
    width: 1295px;
    height: 50px;
    display: flex;
    align-items: center;
}