.grid{
    display: grid;
    width: 800px;
    height: 660px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
    position: absolute;
    top: 315px;
    left: 550px
}

.grid-box{
    margin: 0px;
    font-family: Arial;
    font-size: 28px;
    background-color: "rgba(255, 255, 255, 1)";
    vertical-align: middle;
    justify-content: center;
    width: 74px;
    height: 74px;
}

.grid-box-enlarged{
    margin: 0px;
    font-family: Arial;
    font-size: 28px;
    background-color: #F0D6AF;
    vertical-align: middle;
    justify-content: center;
    width: 78px;
    height: 78px;
}

.button{
    margin: 0px;
    opacity: 0;
    vertical-align: middle;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.word-sequence{
    background-color: aliceblue;
    border: 7px solid black;
    color: aqua;
    position: absolute;
    width: 1250px;
    height: 500px;
    top: 400px;
    left: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-input{
    background-color: #E4C9A1;
    border: 5px solid black;
    color: aqua;
    width: 900px;
    height: 130px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 500px;
    left: 690px;
    display: flex;
}

.new-set{
    background-color: #ffffff;
    border: 4px solid black;
    border-radius: 50px;
    font-size: 28px;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 525px;
    left: 1620px;
}

.series-box-letters{
    width: 1100px;
    height: 270px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 730px;
    left: 620px;
}

.boxes-holder{
    display: inline-block;
}

.box-letters{
    margin: 20px;
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    background-color: #78BC66;
    width: 130px;
    height: 130px;
    border-width: 4px;
}

.box-letters-smaller{
    margin: 10px;
    font-family: Arial;
    font-size: 38px;
    background-color: #78BC66;
    width: 90px;
    height: 90px;
    border-width: 4px;
}

.series-words{
    width: 1100px;
    height: 170px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 300px;
    left: 620px;
}

.words{
    width: 300px;
    height: 90px;
    font-family: Arial;
    font-size: 38px;
    border-radius: 45px;
    border-width: 4px;
    background-color: white;
    margin: 20px;
}

.word-search-words-grid{
    width: 400px;
    height: 800px;
    position: absolute;
    display: grid;
    grid-template-rows: 120px 120px 120px 120px 200px;
    justify-items: center;
    top: 330px;
    left: 1420px; 
}

.word-search-words{
    width: 300px;
    height: 70px;
    font-family: Arial;
    font-size: 38px;
    border-radius: 35px;
    border-width: 4px;
    background-color: white;
    margin: 20px;
}

.word-search-words-activated{
    width: 300px;
    height: 70px;
    font-family: Arial;
    font-size: 38px;
    border-radius: 35px;
    border-width: 4px;
    background-color: #78BC66;
    margin: 20px;
}

.canvas{
    background-image: url('./resources/lineDrawing/Default.png');
    border: 4px solid black;
    background-size: 400px;
    position: absolute;
    top: 400px;
    left: 1060px;
}

.image{
    background-image: url('./resources/lineDrawing/1.png');
    position: absolute;
    top: 400px;
    left: 560px;
    background-size: 400px;
    border: 4px solid black;
}

.canvas-free-draw{
    border: 4px solid black;
    background-color: azure;
    position: absolute;
    top: 310px;
    left: 565px;
}

.draw{
    width: 300px;
    height: 70px;
    font-family: Arial;
    font-size: 38px;
    border-radius: 35px;
    border-width: 4px;
    background-color: white;
    margin: 20px;
    position: absolute;
    top: 330px;
    left: 1490px
}

.erase{
    width: 300px;
    height: 70px;
    font-family: Arial;
    font-size: 38px;
    border-radius: 35px;
    border-width: 4px;
    background-color: white;
    margin: 20px;
    position: absolute;
    top: 430px;
    left: 1490px
}

.download{
    width: 300px;
    height: 70px;
    font-family: Arial;
    font-size: 34px;
    border-radius: 35px;
    border-width: 4px;
    background-color: white;
    margin: 20px;
    position: absolute;
    top: 530px;
    left: 1490px
}

.green-check{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    background-size: 100px;
    background-image: url('./resources/img/greencheck.png');
}

.timer{
    width: 1120px;
    height: 50px;
    position: absolute;
    top: 220px;
    left: 600px;
    background-color: white;
    border: 4px solid black;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.timer-bar{
    height: 44px;
    position: relative;
    background-color: #78BC66;
    margin: 0px;
    padding: 0px;
}